<app-view-dynamic-form title="Employees" [viewFormConfig]="employeeForm" [buttonsConfig]="buttonsConfig">
</app-view-dynamic-form>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="employees">

        <ng-container matColumnDef="employeeCode">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.employeeCode}} </td>
        </ng-container>

        <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>

        <ng-container matColumnDef="middleName">
            <th mat-header-cell *matHeaderCellDef>Middle</th>
            <td mat-cell *matCellDef="let element"> {{element.middleName}} </td>
        </ng-container>

        <ng-container matColumnDef="departmentName">
            <th mat-header-cell *matHeaderCellDef>Department</th>
            <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
        </ng-container>

        <ng-container matColumnDef="grade">
            <th mat-header-cell *matHeaderCellDef>grade</th>
            <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
        </ng-container>

        <ng-container matColumnDef="reportingManger">
            <th mat-header-cell *matHeaderCellDef>Reporting</th>
            <td mat-cell *matCellDef="let element"> {{element.reportingManger}} </td>
        </ng-container>

        <ng-container matColumnDef="skills">
            <th mat-header-cell *matHeaderCellDef>Skills</th>
            <td mat-cell *matCellDef="let element"> {{element.skills}} </td>
        </ng-container>

        <ng-container matColumnDef="basicSalary">
            <th mat-header-cell *matHeaderCellDef>Basic salary</th>
            <td mat-cell *matCellDef="let element"> {{element.basicSalary}} </td>
        </ng-container>

        <ng-container matColumnDef="houseRent">
            <th mat-header-cell *matHeaderCellDef>House rent</th>
            <td mat-cell *matCellDef="let element"> {{element.houseRent}} </td>
        </ng-container>

        <ng-container matColumnDef="otherAllowance">
            <th mat-header-cell *matHeaderCellDef>Other allowance</th>
            <td mat-cell *matCellDef="let element"> {{element.otherAllowance}} </td>
        </ng-container>

        <ng-container matColumnDef="totalSalaryPM">
            <th mat-header-cell *matHeaderCellDef>Salary PM</th>
            <td mat-cell *matCellDef="let element"> {{element.totalSalaryPM}} </td>
        </ng-container>

        <ng-container matColumnDef="totalSalaryPA">
            <th mat-header-cell *matHeaderCellDef>Salary PA</th>
            <td mat-cell *matCellDef="let element"> {{element.totalSalaryPA}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="editEmployee(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[2,4,5]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
<div style="height: 20px;"></div>